.logo {
    width: 100px; 
    height: auto; 
}

.navbar {
    height: 5 rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1 rem 2 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 3;
}